<%- include('../layouts/header.ejs'); -%>

<section class="text-center">
  <h3 class="my-4 fw-semibold">Edit User</h3>
</section>

<section class="container d-flex justify-content-center">
  <form class="w-50" action="#" method="post">
    <div class="mb-3">
      <label for="">Role</label>
      <input
        type="text"
        class="form-control"
        name="role"
        placeholder="Insert Name"
        required
      />
    </div>
    <div class="mb-3 text-center">
      <input class="btn btn-dark" type="submit" value="Add Project" />
    </div>
  </form>
</section>
